<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Assassination.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>745F576F1C3FF24B001B7CC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>745F57831C3FF24B001B7CC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>745F578E1C3FF24B001B7CC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
